<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <!-- 业务需求 -->
            <!-- 显示users信息: v-for="item in items" -->
            <!-- 获取数组下标: v-for="(item,index) in items" -->
            <!-- 遍历对象：
                        v-for="value in object"
                        v-for="(value,key) in object"
                        v-for= "(value,key,index) in object"
            -->
            <!-- 遍历时加上:key来区分不同数据，提高vue渲染效率 -->
            <li v-for="item in users" :key="item.name">
                {{item.name}},{{item.gender}},{{item.age}}
                  
            <!-- 遍历对象 -->
            <span v-for=" (value,key) in item">
                {{key}}:{{value}}
            </span>
            </li>
        </ul>
    </div>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script>
        new Vue({
           el: "#app",
           data: {
               users: [
                   {name:'张三',gender: '女',age: 21},
                    {name: '李四',gender: '男',age: 22},
                    {name:'王五',gender: '女',age: 21},
                    {name: '赵六',gender: '男',age: 22},
                    {name:'刘八',gender: '女',age: 21},
                    {name: '王一',gender: '男',age: 22},
               ]
           } 
        });
    </script>
</body>
</html>